h1 {
  text-align: center;
  color: #d4d4d4;
}

.percent1, .percent2, svg, circle {
  width: 200px;
  height: 200px;
}

circle {
  position: absolute;
  fill: none;
  stroke-width: 10;
  transform: translate(10px, 10px);
  stroke-dasharray: 440;
  stroke-linecap: round;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #CCCCCC;
}

.percent1 circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  max-height: 200px;
  stroke: blue;
  animation: percent 1s linear;
}

.number {
  position: relative;
  bottom: 170px;
  right: -50px;
}

h2 {
  font-size: 48px;
}

span {
  font-size: 24px;
  opacity: .7;
}

@keyframes percent {
  0% {
    stroke-dashoffset: 440;
    stroke-width: 10;
  }
}
